.habilities {
    background-color: #060606;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilitiesTitle {
    font-size: 28pt;
    color: white;
}

.habilitiesBiggerText {
    color: white;
    font-size: 20px;
}

.habilitiesText {
    color: white;
    font-size: 14px;
}

.habilitiesContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
}

.habilitiesServiceView {
    background-color: gray;
    border: 1px solid white;
    padding: 100px;
    margin: 14px;
}