.contact {
    background-color: #060606;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactTitle {
    font-size: 28pt;
    color: white;
}

.contactContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.contactContentList {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.contactBiggerText {
    font-size: 18pt;
    color: white;
    margin-left: 14px;
}

.contactText {
    font-size: 14pt;
    color: white;
    margin-left: 14px;
}